
body
{
	user-select: none;
	margin: 0;
        padding: 0;
	background-color: #111;
         background-image: url("../images/poleL.jpg");
	font-family: 'Montserrat', sans-serif;
}

main
{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 3vw;
        background-color: linear-gradient(green, whitesmoke);
	transform: translate(-50%, -50%);
}
.lime-color {
  color: lime;
}
header .hero-shadow 
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
g {
  background-color: linear-gradient(green, whitesmoke);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
}
g:hover {
  background-color: linear-gradient(green, whitesmoke);
}

/*g:active {
  background-color: black;
}*/

g:visited {
  background-color: #ccc;
}
header
{
	height: 4vw;
	font-size: 3vw;
	text-align: center;
	background: linear-gradient(green, whitesmoke);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
div
{
	width: 20vw;
	height: 3vw;
	margin-top: 1vw;
	background: whitesmoke;
}
div, input[type=submit], a
{
	border-radius: 0.25vw;
}
div:focus-within
{
	background: linear-gradient(green, whitesmoke);
}
input
{
	width: 17.6vw;
	height: 1.6vw;
	margin: 0.2vw;
	padding: 0.6vw 1vw 0.4vw;
	border: 0;
	border-radius: 0.15vw;
	outline: none;
	background-color: whitesmoke;
	font-size: 1vw;
}
input[type=submit]
{
	box-sizing: content-box;
	width: 18vw;
	height: 3vw;
	margin: 1vw 0;
	padding: 0 1vw;
	border: 0;
	background: linear-gradient(green 15%, whitesmoke);
	font-size: 1.5vw;
	color: white;
	letter-spacing: 0.2vw;
	cursor: pointer;
}
a
{
	display: inline-block;
	width: 7.0vw;
	height: 2.5vw;
	padding: 1.1vw 1vw 0.4vw;       
	background-color: #333;
	font-size: 0.90vw;
	text-align: center;
	color: grey;
	text-decoration: azure;
        font-weight: bold;
}
a:first-of-type
{
	float: left;
}
a:last-of-type
{
	float: right;
}
/*
nav {
  text-transform: uppercase;
}

nav a, nav i {
  color: #ffffff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a:hover {
  color: lime;
}

nav i {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: lime;
}

nav .btn-outline-success {
  color: lime;
  border: 1px solid lime;
}

nav .login-btn {
  color: lime;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .login-btn:hover {
  color: white;
}*/